body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ecac06;
}

.container {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px #50000e solid;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #ecab00;
  background-image: url('bg.jpg');
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#logo {
  width: 140px;
  left: 89px;
  top: 61px;
}

#txt {
  width: 144px;
  left: 140px;
  top: 245px;
}

#decor_top {
  width: 20px;
  left: 204px;
  top: 213px;
  transform-origin: center bottom;

}

#decor_bottom {
  width: 20px;
  left: 204px;
  top: 295px;
  transform-origin: center top;

}

#candies {
  width: 255px;
  left: 36px;
  top: 140px;
  transform: rotate(0deg);
  /* transform: rotate(120deg); */
  transform-origin: left top;
}


#lamps_l {
  width: 58px;
  left: 25px;
  top: -8px;
}
#lamps_r {
  width: 58px;
  left: 237px;
  top: -8px;
}
#top {
  width: 320px;
  left: 0px;
  top: 0px;
}
#bottom {
  width: 320px;
  left: 0px;
  top: initial;
  bottom: -4px;
}


#schirm {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  background-color: #ecab00;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}
